.kw1c-blue
{
  background-color: rgb(14, 133, 199)!important;
}
#Image_3
{
  display: block;
  width: auto;
  height: auto;
}

main
{
  justify-content: center;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
}

a
{
  text-decoration: none;
  cursor: pointer
}

.hover:hover
{
  color: ghostwhite;
}
.card
{
  display: flex;
  margin: -1px !important;
}

.dropdown-content
{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  min-width: 9rem;
  z-index: 1;
}

.dropdown-content a
{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover
{
  background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content
{
  display: block;
}

.succes
{
  color: limegreen;
}

.error
{
  color: red;
}

.hover-button:hover
{
  background-color: slategrey;
}

.hover
{
  color: white;
}

.dropdown span
{
  cursor: default;
}

.page-header
{
  text-align: center;
}
